* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.g-header {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid lightgray;
}
.g-content {
  width: 100%;
  display: flex;
  justify-content: center;
}
.g-content-child {
  width: 60%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.g-content-common {
  max-width: 470px;
  min-width: 390px;
  width: 50%;
  height: 100%;
}
.g-content-left {
  padding: 30px;
}
.g-content-left > p {
  font-size: 32px;
  font-weight: 400;
  margin: 29px 0 40px 0;
}
.input-field {
  width: 100%;
  position: relative;
}
.input-type {
  width: 100%;
  height: 60px;
  border-radius: 6px;
  font-size: 16px;
  padding: 0 15px;
  background: transparent;
  color: black;
  outline: none;
}
.enterprise-name {
  border: 1px solid rgb(97, 97, 97);
}
.input-field label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: black;
  font-size: 16px;
  pointer-events: none;
  transition: 0.3s;
}
input:focus {
  border: 1px solid blue;
  color: blue;
}
input:focus ~ label,
input:valid ~ label {
  top: 0;
  left: 15px;
  font-size: 12px;
  padding: 0 2px;
  background: #fff;
  color: blue;
}
.qty-staff {
  width: 100%;
  height: 40%;
}
.qty-staff p {
  margin: 32px 0 14px 0;
}
.select-qty-staff {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 2;
}
.style-lbl-staff {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0;
  font-size: 16px;
  cursor: pointer;
}
.rbtn-qty {
  --s: 1em;
  --c: #0c0e83;

  height: var(--s);
  aspect-ratio: 1;
  border: calc(var(--s) / 10) solid #939393;
  padding: calc(var(--s) / 8);
  background: radial-gradient(farthest-side, var(--c) 75%, #0000) 50%/0 0
    no-repeat content-box;
  border-radius: 50%;
  outline-offset: calc(var(--s) / 10);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
}
.rbtn-qty:checked {
  border-color: var(--c);
  background-size: 100% 100%;
}
.rbtn-qty:hover {
  box-shadow: 0 0 8px 8px rgba(43, 7, 7, 0.3);
  border: calc(var(--s) / 10) solid rgb(26, 25, 25);
}

/* select */
.select-region {
  width: 100%;
  margin-top: 40px;
  position: relative;
}
.select-region label {
  position: absolute;
  top: -12%;
  left: 3%;
  padding: 3px;
  font-size: 12px;
  color: black;
  background-color: white;
}

.input-type option {
  font-size: 16px;
}
.select-region select {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 0.18rem top 50%;
  background-size: 0.65rem auto;
  /* width: 90%; */
  border: 1px solid rgb(97, 97, 97);
}
.select-region p {
  width: 90%;
  height: 20px;
  margin: auto;
}
.btn-continue {
  width: 120px;
  height: 40px;
  background-color: blue;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 20px;
}
.btn-continue:hover {
  background-color: rgb(44, 44, 200);
  cursor: pointer;
}
.g-content-right {
  width: 50%;
  height: 100%;
  max-width: 410px;
  /* min-height: 600px; */
  display: flex;
  justify-content: center;
  /* background-color: antiquewhite; */
}
.g-content-ws {
  width: 100%;
  height: 100%;
  min-width: 410px;
  min-height: 600px;
  margin: 50px 15px 0 40px;
  padding: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.meet-content {
  width: 100%;
  height: 20%;
  padding-bottom: 16px;
  border-bottom: 1px solid lightgray;
  display: flex;
}
.meet-content h2 {
  font-size: 20px;
  font-weight: 600;
}
.img-meet {
  width: 20%;
  height: 100%;
}
.img-meet img {
  width: 100%;
  height: 30%;
}
.para-meet {
  margin-left: 32px;
}
.para-meet h2 {
  margin-bottom: 8px;
}
.para-meet p {
  margin-bottom: 14px;
  font-size: 15px;
  line-height: 1.5;
}
.g-ws-content {
  width: 100%;
  height: 80%;
  padding: 10px;
}
.g-ws-content p {
  font-size: 28px;
  line-height: 1.6;
  font-weight: 400;
  margin-top: 28px;
  margin-bottom: 10px;
}
.g-ws-content img {
  margin-left: -15px;
  width: 80%;
  height: 8%;
}
.g-ws-content ul {
  padding-left: 15px;
  list-style: none;
}
.g-ws-content ul li {
  margin-top: 16px;
  padding-left: 10px;
}
.g-ws-content ul li::marker {
  content: "✓";
}
